<%= form_for(customer, :html => { :class => 'your-orders' }, :data => {'parsley-validate' => '', 'rr-name' => 'customer-form' }) do |f| %>
  <div>
    <%= f.label :email, 'Din e-post' %>
    <%= f.email_field(:email, class: 'your-orders__email', data: {'parsley-type' => 'email', 'parsley-required' => '', 'parsley-required-message' => 'Fyll i din e-postadress'}) %>
  </div>

  <%= f.submit 'Skicka', class: 'your-orders__submit' %>
<% end %>
