 <h1 class="page__title">Skapa ert gåvobevis</h1>
   <p class="blue">
   Hej <%= @customer.donor.full_name %>!</p>
   <p class="blue">
   Stort tack för att ni har räddat och förändrat liv! Ett kvitto samt bekräftelse på gåvan har skickats till din e-post.
   </p>
   <p class="blue">Nedan ser du en lista på de gåvobevis som ni har gett bort.</p>
   <p class="blue">Nu ska du välja mottagare för ditt digitala gåvobevis och skriva en hälsning.</p>
   <p class="blue">Klicka här för att se dina <a href="https://gavoshop.wateraid.se/kund" target="_blank">tidigare beställningar</a>.</p>
   <p class="blue">Har du några frågor så hör av dig till <a href="mailto:infocorporate@wateraid.se">infocorporate@wateraid.se</a>.</p>
   <p class="blue">
      Stort tack,<br>
      WaterAid
    </p>
