 <h1 class="page__title">Skapa ditt gåvobevis</h1>
   <p class="blue">
   Hej <%= @customer.donor.full_name %>!
   </p>
   <p class="blue">
   Stort tack för att du har räddat och förändrat liv! Nu ska du skapa ditt gåvobevis. Ett kvitto samt bekräftelse på gåvan har skickats till din e-post.
   </p>
   <p class="blue">Nedan ser du en lista på de gåvobevis som du har gett bort.</p>
   <p class="blue">Tryckta gåvobevis skickas med post direkt hem till dig. För digitala gåvobevis ska du nu välja mottagare och skriva en hälsning.</p>
   <p class="blue">Har du några frågor kring din beställning hör av dig till <a href="mailto:info@wateraid.se">info@wateraid.se</a>.</p>
   <p class="blue">
      Stort tack,<br>
      WaterAid
    </p>

