   <h1 class="page__title">Skapa ditt gåvobevis</h1>
   <hr>
   <p class="blue">
   Hej!
   </p>
   <p class="blue">
     Stort tack för att du har beställt ett gåvobevis. Din gåva kommer att ge människor rent vatten och förändra liv.
   </p>
   <p class="blue">
     Nedan skapar du ditt gåvobevis genom att fylla i mottagare och skriver en hälsning. Om du vill beställa fler gåvobevis gå in på <a href="https://gavoshop.wateraid.se/">https://gavoshop.wateraid.se/</a>.
   </p>
   <p class="blue">
     Om du har frågor så hör av dig till <a href="mailto:info@wateraid.se">info@wateraid.se</a>.
   </p>
   <p class="blue">
     Tack,<br>
     WaterAid
   </p>

