.filter{
  @include container();
  @include border-bottom();
  margin-bottom: 50px;
  padding-bottom:20px;
  height:111px;
  overflow:visible;
  position: relative;
  z-index: 1;
  
  .filter-box{
    @include column(12, last);
    background: #f7f7f7;
    
    span{
      @include column(3);
      font-family: $font-family-bold;
      font-size: 16px;
      margin-left: 25px;
      padding: 10px 0;
    }
    
    .right-label{
      @include float-right;
      margin-right: 35px;
    }
    
    &.bordered{
      @include border-bottom-hairline(#d2d6d8);
    }
  }

  .selected{
    background: url("/img/common/filter-drop-arrow.png") no-repeat 150px 24px #f7f7f7;
    display: block;
    width: 165px;
    padding: 16px 0 16px 20px;
    margin: 5px 0 0 5px;
  }
  
  .filter-by{
    width: 194px;
    height: 70px;
    display: block;
    float: left;
    border-right: 1px solid #d2d6d8;
    margin:5px 0;
    overflow:visible;
    cursor: pointer;
    
    a{
      @include link-style($font-size-small, $font-family-default, $link-focus-color, $link-focus-color);
    }
    
    .filters{
      @include clearfix;
      position: relative;
      padding: 20px;
      margin-left: 5px;
      display: none;

      li{
        
        a{
          @include link-style($font-size-normal, $font-family-default, $font-color-normal);
          line-height: $font-size-normal + 6px;
          display:block;
        }
      }
    }
    
    &.opened{
      
      .filters{
        background-color: #ebebeb;
        z-index:1;
      }
      
      a{
        background-color: #ebebeb;
      }
    }
    
    &.last{
      border: 0 none;
    }
  }
  
  .sort-by{
    position: relative;
    border-left: 1px solid #d2d6d8;
    float:right;
    width: 194px;
    height: 70px;
    margin:5px 84px 5px;
    cursor: pointer;
    
    a{
      @include link-style($font-size-small, $font-family-default, $link-focus-color, $link-focus-color);
    }
    
    .sorter{
      @include no-bullets;
      background:#ebebeb;
      position:absolute;
      top: 50px;
      left: 5px;
      margin: 0;
      padding: 20px;
      display: none;
      width:145px;
      z-index: 1;
      
      a{
        display:block;
        @include link-style($font-size-normal, $font-family-default, $font-color-normal);
      }
    }
    
    &.opened a{
      background-color: #ebebeb;
    }
  }

}