<div class="footer-registration">
  <p>
    Organisationsnummer: 802426-1268 | Plusgiro: 90 01 62-9 | Bankgiro: BG 900-1629
  </p>
  <p>
    WaterAid förändrar liv genom vatten, sanitet och hygien | © Copyright WaterAid | <%= link_to "Integritetspolicy", integritetspolicy_path %>
  </p>
  <p>
    <img class="footer__90-logo" src="<%= image_url "90-logo.svg" %>" alt="WaterAid" data-fallback="<%= image_url "90-logo.png" %>">
  </p>
</div>
