<div style="color: #ffffff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; text-decoration: none; text-align:left;">

  <p>Hej <%= @order.donor.first_name %>!</p>

  <p>Ett stort tack för att du har valt att ge bort världens viktigaste present genom att beställa gåvobevis i vår gåvoshop. Snart kommer någons barn, förälder eller syskon för allra första gången få smaka rent vatten. Och det är tack vare dig!</p>

  <p>Har du beställt ett tryckt gåvobevis kommer det på posten inom fyra dagar. <br>Digitala gåvobevis skickas i ett separat e-mail till dig eller direkt till den du har valt att ge det till.</p>

  <p>Har du några frågor så kontakta oss på <a href="mailto:info@wateraid.se" style="color:#ffffff;text-decoration:underline;">info@wateraid.se</a> <br>eller ring 08-677 30 70.</p>

  <p>Allt börjar med vatten - tack för att du förändrar liv!</p>

  <p>
    Vänliga hälsningar,<br>
    Cecilia Chatterjee-Martinsen<br>
    Generalsekreterare, WaterAid
  </p>
</div>
