<%
if @card.receiver.blank?
  title "Skapa g책vobevis"
else
  title "Redigera g책vobevis"
end
%>

<main class="card-edit" role="main">
  <% if @card.receiver.blank? %>
    <h1 class="card-edit__title">Skapa g책vobevis</h1>
  <% else %>
    <h1 class="card-edit__title">Redigera g책vobevis</h1>
  <% end %>

  <%= render partial: 'form', locals: {card: @card, form_type: 'edit'} %>
</main>
