<% title "Integritetspolicy" %>

<main class="page" role="main">
  <article>
    <h1 class="page__title">Integritetspolicy</h1>

    <p>I enlighet med personuppgiftslagen (1998:204; PUL) klargör vi härmed att alla persondata du uppger på webbplatsen samlas in via Insamlingsstiftelsen WaterAid Sverige som är personuppgiftsansvariga.</p>

    <p>WaterAid kommer inte att använda några personuppgifter som samlas in på denna webbplats för något annat ändamål än det som uttryckligen anges.</p>

    <p>WaterAid kan använda personliga kontaktuppgifter för att skicka dig ytterligare information som vi tror att du kommer att vara intresserad av. Om du anger att du föredrar att inte ta emot sådan information kommer vi alltid att respektera detta. Om du accepterar att ta emot eller registrerar dig för ytterligare information från WaterAid via e-post, kommer vi att erbjuda dig en möjlighet att avsluta denna mailprenumeration i varje meddelande vi skickar.</p>

    <p>WaterAid samlar in personuppgifter, adressuppgifter (inklusive e-postadress), samt att betalkortsinformation lagras hos betaltjänsten Stripe.</p>

    <p>WaterAid kommer aldrig avsiktligt att missbruka, eller tillåta andra att missbruka, personuppgifter som samlas in eller som innehas, och kommer att vidta åtgärder för att se till att dina persondata förvaras säkert.</p>

    <p>WaterAid säljer inte eller vidarebefordrar personliga kontaktuppgifter till någon annan organisation och kommer inte göra det i framtiden utan att fråga dig om du vill delta vid detta specifika tillfälle.</p>
  </article>
</main>
