
<main class="page" role="main">
  <article>
    <h1 class="page__title">Dina beställningar</h1>

    <hr>

    <p class="t-lead">
      Hej [NAMN]!<br>
      Stort TACK för att du beställt gåvobevis och gett ett värdefullt stöd till vår verksamhet.
    </p>

    <p>
      Här nedan ser du en komplett översikt dina tidigare beställda ordrar.<br>
      Du har möjlighet att redigera innehållet på de digitala gåvobevis som ännu inte skickats.
    </p>

    <p>
      Har du fler frågor kring någon av dina ordrar är du välkommen att höra av dig till [SUPPORT EMAIL].
    </p>

    <table class="orders cart__items">
      <tbody>
        <tr class="orders__caption">
          <th colspan="5">
            <h3>[ORDER NR] <small>2014-09-24 / Totalt: 240 kr</small></h3>
          </th>
        </tr>
        <tr>
          <th>Typ</th>
          <th>Summa</th>
          <th></th>
        </tr>
        <tr class="cart__item">
          <td class="cart__item__type">
            Digitalt
            <small>Skickas 2014-12-24 till per@kollegorna.se.</small>
          </td>
          <td class="cart__item__price">240 kr</td>
          <td class="cart__item__actions">
            <a class="button-pill" href="#">visa</a>
            <a class="button-pill" href="/gavobevis/50f4b41a-3a0a-4e41-9760-50ae75200beb/redigera">redigera</a>
          </td>
        </tr>

        <tr class="orders__caption">
          <th colspan="5">
            <h3>[ORDER NR] <small>2014-09-20 / Totalt: 440 kr</small></h3>
          </th>
        </tr>
        <tr>
          <th>Typ</th>
          <th>Summa</th>
          <th></th>
        </tr>
        <tr class="cart__item">
          <td class="cart__item__type">Tryckt</td>
          <td class="cart__item__price">240 kr</td>
          <td class="cart__item__actions"></td>
        </tr>
        <tr class="cart__item">
          <td class="cart__item__type">
            Digitalt
            <small><span class="orders__digital-sent">✔</span> Skickades 2014-09-21 till samuel@kollegorna.se.</small>
          </td>
          <td class="cart__item__price">200 kr</td>
          <td class="cart__item__actions">
            <a class="button-pill" href="#">visa</a>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</main>
