<div>
  <p>Hej <%= @order.donor.first_name %>!</p>

  <p>Ett stort tack för att du har valt att ge bort världens viktigaste present genom att beställa gåvobevis i vår gåvoshop!</p>

  <p>Om några månader kommer någons barn, förälder eller syskon för allra första gången få smaka rent vatten. Och det är tack vare dig! När ett samhälle får rent vatten betyder det att fler barn överlever sina första år i livet, flickor får möjlighet att gå i skolan och människor kan ta sig ur fattigdom.</p>

  <p>Om du har beställt tryckta kort kommer det på posten inom fyra arbetsdagar. Om du har beställt digitala gåvobevis så skickas det i ett separat e-post till dig eller direkt till den du har valt att ge det till.</p>

  <p>Om du har några frågor så kontakta oss på <a href="mailto:info@wateraid.se" style="color:#0092c6">info@wateraid.se</a> eller ring 08-677 30 70.</p>

  <p>Allt börjar med vatten - tack för att du förändrar liv!</p>

  <p>
    Vänliga hälsningar,<br>
    Cecilia Chatterjee-Martinsen<br>
    Generalsekreterare, WaterAid
  </p>

  <p>
    <i>
      <a href="https://www.facebook.com/wateraidswe" style="color:#0092c6;">Följ gärna vårt arbete på Facebook</a><br>
      <a href="http://www.wateraid.org/se" style="color:#0092c6;">Läs mer om WaterAid här</a><br>
    </i>
  </p>
</div>
