<div>
  <p>Hej <%= @order.donor.first_name %>!</p>

  <p>Stort tack för att ni har valt att ge bort världens viktigaste present.</p>

  <p>Om några månader kommer någons barn, förälder eller syskon för allra första gången få smaka rent vatten. Och det är tack vare er! När ett samhälle får rent vatten betyder det att fler barn överlever sina första år i livet, flickor får möjlighet att gå i skolan och människor kan ta sig ur fattigdom. </p>

  <p>Ert digitala gåvobevis skickas i ett separat e-mail till dig eller direkt till den ni har valt att ge gåvobeviset till.</p>

  <p>Om du har några frågor så kontakta oss på <a href="mailto:infocorporate@wateraid.se" style="color:#0092c6">infocorporate@wateraid.se</a> eller ring 08-677 30 70, alternativt 08-677 30 26.</p>

  <p>Allt börjar med vatten – tack för att ni förändrar liv!</p>

  <p>
    Vänliga hälsningar,<br>
    Cecilia Chatterjee-Martinsen<br>
    Generalsekreterare, WaterAid
  </p>

  <p>
    <i>
      <a href="https://www.facebook.com/wateraidswe" style="color:#0092c6;">Följ gärna vårt arbete på Facebook</a><br>
      <a href="http://www.wateraid.org/se" style="color:#0092c6;">Läs mer om WaterAid här</a><br>
    </i>
  </p>
</div>
