<% html_classes "card-bg" %>

<div class="index">
  <div class="index__header">
    <div class="index__header__swish">
      <p id="swish-checkout-info">Vänligen öppna Swish-appen på din mobil/surfplatta.</p>
    </div>
  </div>
</div>
