.steps {
  margin-bottom: 30px;
  text-align: center;

  ol {
    counter-reset: steps-counter;
    margin: 0;
  }

  li {
    display: inline-block;

    &:first-child {
      span {
        display: none;

        @media (min-width: 400px) {
          display: inline;
        }
      }
    }

    &:before {
      content: counter(steps-counter);
      counter-increment: steps-counter;
    }
  }
}

.steps__step {
  color: $ds-color-campaign-blue;
  line-height: 30px;
  // opacity: .5;

  @media (max-width: $ds-breakpoint-tablet-small) {
    font-size: 12px;
  }

  &:before {
    border: 2px solid $ds-color-campaign-blue;
    background-color: $ds-color-white;
    color: $ds-color-campaign-blue;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    font-size: 0.9rem;
    height: 30px;
    line-height: 26px;
    margin-right: 10px;
    text-align: center;
    width: 30px;

    @media (max-width: $ds-breakpoint-tablet-small) {
      font-size: 12px;
    }
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &--active {
    font-family: $ds-font-family-bold;
    font-size: 1.2rem;
    font-weight: $ds-font-weight-bold;
    opacity: 1;

    &:before {
      border: 2px solid $ds-color-campaign-blue;
      background: $ds-color-campaign-blue;
      color: #fff;
    }

    @media (max-width: $ds-breakpoint-tablet-small) {
      font-size: 14px;
    }
  }
}


.index__checkout-steps {
  .steps__step {
    color: $ds-color-campaign-blue;

    &:before {
      border: 2px solid $ds-color-campaign-blue;
      background-color: $ds-color-white;
      color: $ds-color-campaign-blue;
    }

    &--active {
      &:before {
        border: 2px solid $ds-color-campaign-blue;
        background: $ds-color-campaign-blue;
        color: #fff;
      }
    }
  @media #{$medium-up} {
    color: $ds-color-campaign-blue;

    &:before {
      border: 2px solid $ds-color-campaign-blue;
      background-color: $ds-color-white;
      color: $ds-color-campaign-blue;
      border-radius: 50%;
    }

    &--active {
      opacity: 1;

      &:before {
        border: 2px solid $ds-color-campaign-blue;
        background: $ds-color-campaign-blue;
        color: #fff;
      }
    }
  }
  }
}
