
.form-item {
  margin-bottom: $ds-margin;

  input,
  textarea,
  select {
    margin-bottom: 0;
  }

  h4 {
    color: $ds-color-blue-light;
  }
}

.form-item__description {
  @extend %t-meta;
  padding-top: 5px;
}

.label {
  @extend label;
}

.label--inline {
  color: $ds-color-text;
  display: inline-block;
  font-family: $ds-font-family;
  font-size: 1em;
  font-weight: $ds-font-weight;
}
