<% title "Företag" %>
<% html_classes "card-bg" %>

<main class="card-landing card-landing--company" role="main">

  <div class="card-form__header">
    <div class="card-form__header__info">
      <p>
        Här kan ert företag ge bort vattendroppar som räddar liv. Vattendropparna i
        vår gåvoshop ger fler människor tillgång till rent vatten, toaletter och utbildning i
        hygien, och varje liten droppe räknas.
      </p>
    </div>
    <div class="card-form__header__actions">
      <%= link_to "Så funkar det", info_path, class: 'button' %><br>
      <%= link_to "För privatpersoner", root_path, class: 'button' %>
    </div>
  </div>

  <%= render partial: 'form', locals: {card: @card} %>
</main>

<!-- Tag for Activity Group: WaterAid_Business(RET), Activity Name: WaterAid - kampanjsida - Gåvoshop - Företag (RET), Activity ID: 1970405 -->
<!-- Expected URL: https://gavoshop.wateraid.se/foretag -->

<!--
Activity ID: 1970405
Activity Name: WaterAid - kampanjsida - Gåvoshop - Företag (RET)
Activity Group Name: WaterAid_Business(RET)
-->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: WaterAid - kampanjsida - Gåvoshop - Företag (RET)
URL of the webpage where the tag is expected to be placed: https://gavoshop.wateraid.se/foretag
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 11/03/2014
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4402018.fls.doubleclick.net/activityi;src=4402018;type=Water000;cat=water00;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4402018.fls.doubleclick.net/activityi;src=4402018;type=Water000;cat=water00;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
